/* mozilla.org css
by dave shea, http://www.mezzoblue.com/ */
/* Modified L. David Baron. */
/* vim:ts=8:noet: 
*/
/* see bug 225032 for css validation issues */


/* mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://fantasai.inkedblade.net/mozilla/web/guide/markup)
 */
/* Suggested order:
 * display
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font-size
 * font-style
 * font-weight
 * font-family
 * other font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 * 
 */

/* TOC:
   Random HTML Styles
   General Structure
   Navigation
   Comments and Other Asides
   Emphasis
   Computers - General
   Code
   Examples and Figures
   Q and A (FAQ)
   Tables
   Meta
*/
/* Random HTML Styles */
	
	dt {
		font-weight: bold;
	}

	form {
		margin: 0;
		display: inline;
	}

/* General Structure */

	.subtitle {
		font-style: italic;
	}

	p, div.para {
		margin: 1em 0;
		text-indent: 0;
	}
	div.para > * {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	div.section {
		display: block;
		padding-left: 3%;
	}

	div.section > h2,
	div.section > h3,
	div.section > h4,
	div.section > h5,
	div.section > h6 {
		margin-left: -1.3%;
	}

/* Navigation */

	.ex-ref {
		font-style: italic;
	}

	dl.toc dt {
		margin-top: 1em;
		font-size: 110%;
	}
	dl.toc p {
		margin: 0;
		text-indent: 1em;
	}
	dl.toc p:first-child {
		text-indent: 0;
	}
	dl.toc > dd {
		margin-left: 1em;
	}

	ol.toc,
	ol.toc ol {
		list-style-type: circle;
	}
	ol.toc > li > ol {
		font-size: 90%;
	}

	ul.snav {/* section navigation or short navigation, whichever you prefer */
		margin: 0.7em 10%;
		padding: .2em;
		text-align: center;
	}
	ul.snav li {
		list-style-type: none;
	}
	ul.snav > li {
		display: inline;
	}
	ul.snav > li:before {
		content: " | ";
	}
	ul.snav > li:first-child:before {
		content: "";
	}

	a.cont {
		display: block;
		margin-right: 0;
		text-align: right;
	}

#alignleft {
		text-align: left;
	    }
/* Comments and other Asides */

	.note {
		font-style: italic;
	}
	.note:before {
		content: "Note: ";
	}

	.remark {
		font-size: smaller;
	}
	.remark:before {
		content: "[";
	}
	.remark:after {
		content: "]";
	}

	.sidebar {
		clear: both;
		margin: .75em .5em;
		padding: .2em;
		border: 1px solid;

		/* Block NS4 from floating */ /*/*/
		float: right;
		width: 30%;
		min-width: 15em;
	}
	/* Reduce main header sizes */
	.sidebar h1 {font-size: 1.40em;}
	.sidebar h2 {font-size: 1.25em;}
	.sidebar h3 {font-size: 1.10em;}

/* Emphasis */

	/* em, strong */
	
	strong.stronger {
		font-style: italic;
		font-weight: bold;
	}
	
	strong.very-strong {
		font-weight: bold;
		text-transform: uppercase;
	}

	*.important,
	div.important,
	p.important {
		margin: 1em;
		padding: 0.1em;
		border: solid #F00;
	}

	span.important,
	em.important,
	strong.important {
		font-size: large;
	}

/* Computers - General */

	span.application {
		font-style: italic;
	}

	kbd.command,
	span.command {
		font-family: monospace;
		white-space: pre;
	}

	tt.filename,
	span.filename {
		font-style: italic;
		white-space: nowrap;
	}

	tt.productnumber,
	span.productnumber {
		font-size: 90%;
		font-family: monospace;
	}

/* Code */

	code {
		font-family: monospace;
		white-space: nowrap;
	}

	pre.code,
	pre.incorrect-code {
		/* display: table; Mozilla has a problem with eating white-space with this rule. */
		margin: 1em .5em;
		padding: .2em;
		border: solid 1px;
	}

	pre.code .remark,
	pre.incorrect-code .remark  {
		font-size: 1em;
		font-style: italic;
	}

	/* turn off content generation */
	pre.code .remark:before,
	pre.incorrect-code .remark:before,
	pre.code .remark:after,
	pre.incorrect-code .remark:after,
	pre.code .note:before
	pre.incorrect-code .note:before {
		content: "";
	}
	

/* Examples and Figures */

	img { /* turn off borders so we don't need border=0 on image links */
		/*/*/
		border: none;
		/* Block NS4 from border rule */
	}

	.example,
	.incorrect-example {
		margin: 1em 3%;
		padding: .25em;
		border: solid;
	}
	.example:before,
	.incorrect-example:before {
		display: block;
		font-weight: bold;
		content: "Example";
	}
	.incorrect-example:before {
		content: "Incorrect Example";
	}
	.example[title]:before,
	.incorrect-example[title]:before {
		content: attr(title);
	}

	.figure,
	.screenshot {
		display: block;
		margin: .75em auto;
	}
	.screenshot[title]:after,
	.figure[title]:after {
		display: block;
		margin: 0 8% .05em;
		font-style: italic;
		font-size: small;
		text-align: right;
		content: attr(title);
	}

	pre.screen {
		/* display: table; Mozilla has a problem with eating whitespace when this is set*/
		margin: 1em .5em;
		padding: .2em;
		border: solid 1px;
		font-family: monospace;
		white-space: pre;
	}

	.co,
	.callout {
		text-decoration: underline;
	}

	.incorrect.incorrect,
	.incorrect-example,
	.incorrect-code {
		border: solid red;
	}

/* Q and A (FAQ) */

	.qandaset .question {
		font-size: large;
		font-weight: bold;
	}

	.qandaset .answer {
		margin-top: 1em;
	}

	.logo {
	    width: 209px;
	    height: 155px;
	}
	.logotitle {
		font-size: large;
		font-weight: bold;
	}

/* Tables */

	table.data {
		border-collapse: collapse;
		margin: 0.5em auto;
		border: 1px solid;
	}

	table.data caption {
		margin: 1em auto 0.2em;
		font-size: small;
		font-style: italic;
		text-align: center;
	}

	table.data th,
	table.data td {
		padding: 0.2em;
		border: 1px solid;
	}

/* ART Calendar Table */
	table.calendar {
		border: solid 1px black;
		border-spacing: 2px;
		font-size: .5em;
		width: 11em;
	}
	table.calendar td {
	    padding: 3px;
	}
	table.calendar thead {
	    background: #E1A745;
	    color: black;
	}
	table.calendar tfoot {
	    background: #0FF;
	    color: black;
	    font-weight: bold;
	}
	table.calendar tbody.one td {
	    background: #F2D9A1;
	}
	table.calendar tbody.two td {
	    background: #FFFFFF;
	}
	table.calendar caption {
	    background: #aaa;
	    color: black;
	    font-size: 1.2em;
	    padding: 1ex;
	    border: solid 1px black;
	    border-bottom-style: none;
	}
/* new styles */
/***** Used on calendar by <calendar> tag *********************************/
.cal_title                 {color:steelblue ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_title:hover           {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_heading               {color:steelblue ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_heading:hover         {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_footer                {color:steelblue ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_footer:hover          {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_pastmonth             {color:steelblue ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_pastmonth:hover       {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_pastdate              {color:steelblue ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_pastdate:visited      {color:darkgray     ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_pastdate:hover        {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_todaydate             {color:red     ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: underline }
.cal_todaydate:hover       {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_futuredate            {color:gray      ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_futuredate:hover      {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_futuremonth           {color:gray      ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
.cal_futuremonth:hover     {color:purple       ;                        font-size:11px; line-height:13px; font-family:Verdana,Arial,Helvetica,sans-serif; text-decoration: none}
/* end new */


	

/* ART Data Tables */
	table {
		/*border: solid 1px black;*/
		border: 3px solid #969696;
		border-spacing: 0px;
		width: 45em;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 10px 10px 5px #444444;
		color: white;
	}
	td {
	    padding: 3px;
	}
	thead {
/* 	    background: #E1A745; */
	    background-color: rgb(41, 41, 41);
	    color: white;
	    
	}
	tfoot {
	    background: #000;
	    color: white;
	    font-weight: bold;
	}
	tbody.one td {
	    background: rgb(100, 100, 100);
	    text-align: right;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 12px; 
	    padding-left: 10px;
	    padding-right: 10px;
	}
	tbody.two td {
	    background: rgb(70, 70, 70);
	    text-align: right;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 12px; 
	    padding-left: 10px;
	    padding-right: 10px;
	    
	}
	tbody.one td.fl {
	    background: rgb(100, 100, 100);
	    text-align: left !important;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 12px; 
	}
	tbody.two td.fl {
	    background: rgb(70, 70, 70);
	    text-align: left !important;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 12px; 
	    
	}
        #subcomment {
	    background: #E9E9E9;
	    color: #090909;
	    text-align: right;
		font-family: monospace;
	    font-size: 90%;
	}
        #subcommentleft {
	    background: #E9E9E9;
	    color: blue;
	    text-align: left;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 10px;
	}
        #basesubcommentleft {
	    background: #E9E9E9;
	    color: black;
	    text-align: left;
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 9px;
	}
	caption {
	    background: #aaa;
	    color: black;
	    font-size: 1.2em;
	    padding: 1ex;
	    border: solid 1px black;
	    border-bottom-style: none;
	}

/*  Detail Tables for ART */

	table.detaildata {
		color: white;
	}
	table.detaildata td {
	    padding: 3px;
	}
	table.detaildata th {
	background-color: rgb(41, 41, 41);
    color: white;
    font-size: 75%;
    text-align: left;
	}
	table.detaildata tfoot {
	    background: #000;
	    color: white;
	    font-weight: bold;
	}
	table.detaildata tbody.one td {
		font-family: "Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
		font-size: 9px;
		background: rgb(100, 100, 100);
		padding-right: 10px;
		text-align: left;
	}
	table.detaildata tbody.two td {
		font-family: "Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
		font-size: 9px;
		background: rgb(70, 70, 70);
		padding-right: 10px;
		text-align: left;
		border-bottom: 1px solid #747474;
	}
	table.detaildata tbody.two td.negative {
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 9px;
	    background: #FF6666;
	}
	table.detaildata tbody.one td.negative {
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 9px;
	    background: #FF6666;
	}
	table.detaildata tbody.two td.negativeTitle {
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 9px;
	    background: #FF3333;
	}
	table.detaildata tbody.one td.negativeTitle {
	    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	    font-size: 9px;
	    background: #FF3333;
	}
	table.detaildata caption {
	    background: #aaa;
	    color: black;
	    font-size: 1.2em;
	    padding: 1ex;
	    border: solid 1px black;
	    border-bottom-style: none;
	}
    table.detaildata a:link {
		color: black; 
		text-decoration: none;
		font-weight: normal;
    }
    table.detaildata a:visited {
		color: blue;
		text-decoration: none;
		font-weight: normal;
    }
   	table.detaildata a:hover {
		color: red;
		text-decoration: none;
		font-weight: normal;
    }
    table.detaildata tbody.one td.left {
		text-align: left;
    }
    table.detaildata tbody.two td.left {
		text-align: left;
    }
    table.detaildata tbody.one td.leftMessage {
		text-align: left;
    }
    table.detaildata tbody.two td.leftMessage {
		text-align: left;
    }

/* Meta */

	address {
		text-align: right;
	}
	.author {
		margin-bottom: 1em;
		text-align: left;
	}
/* end Base styles */

/*html elements*/
html {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: Verdana,Sans-serif;
	font-size: 90%;
	background: #535353;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BEBEBE), to(#535353));
	background: -webkit-linear-gradient(right, #535353, #BEBEBE);
	background: -moz-linear-gradient(right, #535353, #BEBEBE);
	background: -ms-linear-gradient(right, #535353, #BEBEBE);
}

label, input {
	font-weight: bold;
	color: #A57B46;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.5em 0;
	clear: both;
}
h1 {
	font-size: 120%;
	color: #955322;
}
h2 {
	font-size: 110%;
	color: #EC361D;
}

h3 {
	font-size: 100%;
	color: #B26C38;
}
h4 {
	font-size: 100%;
	color: #666;
}
h5 {
	font-size: 90%;
	color: #955322;
}
h6 {
	color: #EC361D;
	font-size: 90%;
}

p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}
sup {
	font-size: 70%;
}
a:link {
	color: #554FA0;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #090051;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #5B52CB;
	text-decoration: underline;
}
hr {
	padding: 0;
	height: 4px;
	border: 0;
	background: url(../images/bg11.gif) repeat;
	margin: 2em 0;
}

/*structure*/
#container {
	margin: 0;
	padding: 0;
}

#mBody {
	position: absolute;
	top: 160px;
	left: 0;
	margin: 0;
	padding: 0;
}
.nomenu #mBody {
	background: #fff;
}
#side {
	background: #EEEAE4;
 	position: absolute; 
	left: 0;
	top: 0;
	padding: 10px 15px; 
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
	width: 176px; 
} #ignored {}
.nomenu #side {
	display: none;
	}
#side h2 {
	margin-top: 1em;
	}

.flLeft {
	float: left;
	margin: 5px 10px 5px 0;
}
.flRight {
	float: right;
	margin: 5px 0 5px 10px;
}

/*header*/
#header {
}
#header img {
	float: left;
	margin: 0;
	width: 206px!important;
}
#mainNav {
	margin: 0 3px 0 212px;
	padding: 9px 0 0 0;
	width: auto;
	height: 31px;
	text-align: right;
	background: transparent url(../images/bg3.gif) top left repeat-x;
}
#mainNav li, #fc li {
	white-space: nowrap;
	list-style-type: none;
	display: inline;
	padding-right: 0.6em;
}
#mainNav a:link, #mainNav a:visited {
	font-size: 90%;
	text-transform: lowercase;
	font-weight: bold;
	color: #fff;
}
#mainNav a:hover {
	text-decoration: none;
	padding-bottom: 4px;
	border-bottom: solid 3px #B77723;
}

#chatdiv {
	border: solid 0px #F1DAA8;
	margin: 0 3px 0 3px;
	position: relative;
	top: -6px;
	text-align: left;
	padding: 3px 3px 0 0;
	height: 135px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
} #ignored {}
#chatdiv label {
	font-size: 80%;
}

#sf {
	border: solid 0px #F1DAA8;
	margin: 0 3px 0 212px;
	position: relative;
	top: -6px;
	text-align: right;
	padding: 3px 3px 0 0;
	height: 135px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
} #ignored {}
#sf label {
	font-size: 80%;
}
#q {
	font-size: 70%;
	font-weight: normal;
	background: #FAE8BA;
	border: solid 1px #E3C690;
	border-bottom-color: #F1D79E;
	border-right-color: #F1D79E;
	padding: 2px;
}
#q:hover, #q:focus {
	background: white;
}
#submit {
	background-color: #DCC085;
	border: solid 1px #C5A46C;
	border-top-color: #E6D098;
	border-left-color: #E6D098;
}
#submit:hover, #submit:focus {
	background: #FAE8BA;
}

/*sidebar*/
#getcd {
	margin: 1em 0 0 45px;
}
#side h2 {
	color: #B26C38;
}
#side h3 {
	color: #333;
	margin: 2em 0 0 0;
}
#side h4 {
	color: #999;
	font-size: 90%;
	margin-top: 0;
	margin-bottom: 0.5em;
}
#side p {
	margin: 0 0 2em 0;
	font-size: 87%;
}
#side dl {
	margin-top: 0;
}
#side dt {
	font-weight: bold;
	display: inline;
	font-size: 87%;
}
#side dd {
	padding: 0 0 5px 5px;
	margin: 0 0 1em 0;
	border-left: solid 3px #E3DDD3;
	font-size: 87%;
}
#side ul {
	padding: 0;
	margin: 0;
	border-radius: 0px 20px 20px 0px;
}
#side li {
	list-style: none;
	background: transparent url(../images/w6.gif) top left no-repeat;
	padding: 0 0 0.3em 11px;
	line-height: 1.5;
}

.artLeftNav {
	background: transparent url(../images/bg6.gif) top left repeat-x;
	left: 0;
	top: 0;
	float: left;	
	border-right: 3px solid #9A9A9A;
	width: 206px;
	min-height: 100%;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
	background: #EEEAE4;
}

#sideContent {
	padding: 10px 15px;
	border-top: 3px solid #9A9A9A;
}

.artLeftNav h2 {
	margin-top: 1em;
	}

.artLeftNav h2 {
	color: #B26C38;
}
.artLeftNav h3 {
	color: #333;
	margin: 2em 0 0 0;
}
.artLeftNav h4 {
	color: #999;
	font-size: 90%;
	margin-top: 0;
	margin-bottom: 0.5em;
}
.artLeftNav p {
	margin: 0 0 2em 0;
	font-size: 87%;
}
.artLeftNav dl {
	margin-top: 0;
}
.artLeftNav dt {
	font-weight: bold;
	display: inline;
	font-size: 87%;
}
.artLeftNav dd {
	padding: 0 0 5px 5px;
	margin: 0 0 1em 0;
	border-left: solid 3px #E3DDD3;
	font-size: 87%;
}
.artLeftNav ul {
	padding: 0;
	margin: 0;
	border-radius: 0px 20px 20px 0px;
}
.artLeftNav li {
	list-style: none;
	background: transparent url(../images/w6.gif) top left no-repeat;
	padding: 0 0 0.3em 11px;
	line-height: 1.5;
}

.mainBody {
	line-height: 1.5;
	white-space: nowrap;
	min-height: 100%;
}

.mainBody h2 {
	margin-bottom: 0px;
	border-radius: 10px 20px 0 0;
	width: 65%;
	color: white;
	background-color: rgb(60, 60, 60);;
	background-position: left;
	border: solid 1px rgb(146, 146, 146);
	padding: 1px;
	padding-left: 10px;
	white-space: nowrap;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadow {
	text-shadow: 1px 1px black;
}

.greenBtn {
	cursor: pointer;	
	border-radius: 5px;
	border: 1px solid #3EA32A;
	background: url('../images/searchBtnbg.png') repeat-x;
	color: white;
}

.mainBody h2 a#searchButton {
	margin-left: 40px;
	padding-bottom: 2px;
	text-decoration: none;
	color: white;	
}

a#searchButton span {
	background: url('../images/searchArrow.png') no-repeat 50px 1px;	
	padding: 1px 22px 0px 6px;
	background-size: 14px 80px;	
	font-size: 12px;
	font-family: arial;
}

#searchButton.active span {
	background-position: 50px -65px;
}

#searchForm input.submitSearch {
	color: white;
    font-family: arial;
    margin: 10px 0 5px 5px;
    padding-bottom: 1px;
    width: 75px;
}

#searchContainer {
	display: inline;
}

#searchBox {
	position: absolute;
	top: 40px;
	display: none;
	z-index: 29;
	margin-left: 78px;
}

#searchBox * {
	font-family: arial;
}

fieldset#body {
	background: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px 13px;
	margin: 0;
}

fieldset#body input,label,em {
	color: #6D6C6B;
	
}

#searchForm {
	width: 215px;
	border: 1px solid #899CAA;
	border-radius: 3px 0 3px 3px;
	-moz-border-radius: 3px 0 3px 3px;
	background: #D2E0EA;
	padding: 6px;
	display: block;
}

#searchForm fieldset {
	margin: 0;
	display: block;
	border: 0;
	padding: 1px 5px 3px 5px;
	max-width: 205px;
}

#searchForm #body fieldset label {
	display: block;
	float: none;
	margin: 0 0 2px 0;
	font-size: 12px;
}

#searchForm input[type="text"] {
	width: 89%;
	border: 1px solid #899CAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
	padding: 4px 16px 4px 4px;
	box-shadow: inset 0px 1px 3px #BBB;
	-webkit-box-shadow: inset 0px 1px 3px #BBB;
	-moz-box-shadow: inset 0px 1px 3px #bbb;
	font-size: 12px;
}

span.deleteicon {
    position: relative;
}
span.deleteicon span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}

.timepicker-ovrd table {
	box-shadow: none;
	width: 0em !important;
	border: 1px solid #969696;
	border-radius: 2px 2px 4px 4px;
}

.timepicker-ovrd table * {
	box-shadow: none;
	font-size: 14px;
}

.timepicker-ovrd table td {
	padding: 2px;
}

.timepicker-ovrd table td a {
	text-decoration: none;
}

.timepicker-ovrd table td div {
	color: white;
	background: #FFB341;
	padding: 1px 0px 1px 3px;
	border-radius: 3px 3px 0px 0px;
	text-shadow: 1px 1px black;
}

.innerBody {
	width: 1480px;
	margin: 0px auto;
}

.inlinePanel {
	display: inline-block;
    white-space: normal;
}

/* !!! Styles specific to clickstream page !!! */
.clickStreamPageNavLinks {
	margin-right: 20px;
	margin-left: 280px;
	font-size: 12px;
}

.clickStreamPageNavLinks a {
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
}

.clickStreamPageNavLinks a:visited {
	color: #435D90;
}

.userViewFrame {
	padding-left: 5px;
	float: left;
}

.sidePanels {
	margin-left: 0px;
	padding-right: 10px;
}

.clickStreamTableHeader {
	border: 3px solid #969696;
	border-bottom: none;
	border-spacing: 0px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: none;
	width: 100%;
}

.clickStreamTableHeader th {
	background: rgb(41, 41, 41);
	color: white;
	font-size: 75%;
	text-align: left;
}

.cellContainer {
	text-align: left;
}

.leftCell {
	width: 50px;
	float: left;
	padding-left: 30px;	
	text-align: center;
}

.rightCell {
	margin-left: 150px;
	text-align: left;
}

.queryNameCell{
	width: 50%;
}

#query-params-table .queryNameCell {
	padding-left: 10px;
}

.clickStreamTableFrame {
	border-top: none !important;
	width: 30em;
	border-radius: 0px 0px 5px 5px !important;
	max-height: 600px;
	overflow-y: auto; 
}

.queryParamsTableFrame {
	width: 30em;
	max-height: 132px;
	overflow-y: auto; 
}

.queryParamsPanel div.rightCell {
	margin-left: 217px;
}

/* !!! end styles specific to clickstream page !!! */

.artTableFrame {
    border: 3px solid #969696;
    border-spacing: 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #444444;
}

table.artTable {
	/* override default table styles */
	border: none;
	border-spacing: 0px;
	border-radius: 0px;
 	box-shadow: none;
	width: 100%;
	color: white;
}
table.artTable td {
    padding: 3px;
}
table.artTable th {
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 75%;
    text-align: left;
}
table.artTable tfoot {
    background: #0FF;
    color: black;
    font-weight: bold;
}
table.artTable tbody.one td {    
	font-family: "Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	background: rgb(100, 100, 100);
	padding-right: 10px;
	text-align: left;
}
table.artTable tbody.two td {
    font-family: "Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	background: rgb(70, 70, 70);
	padding-right: 10px;
	text-align: left;
	border-bottom: 1px solid #747474;
}
table.artTable tbody.two td.negative {
    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
    font-size: 9px;
    background: #FF6666;
}
table.artTable tbody.one td.negative {
    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
    font-size: 9px;
    background: #FF6666;
}
table.artTable tbody.two td.negativeTitle {
    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
    font-size: 9px;
    background: #FF3333;
           /*font-family: monospace;
    font-size: 80%; */
}
table.artTable tbody.one td.negativeTitle {
    font-family:"Lucida Grande", "Lucida Sans Unicode",Arial, Verdana, Helvetica, sans-serif;
    font-size: 9px;
    background: #FF3333;
}
table.artTable caption {
    background: #aaa;
    color: black;
    font-size: 1.2em;
    padding: 1ex;
    border: solid 1px black;
    border-bottom-style: none;
}

table.artTable a:link { 	  
 	color: #73C7FF;  
	text-decoration: none;
	font-weight: normal;
	
}
table.artTable a:visited {
	color: #FF8176;
	text-decoration: none;
	font-weight: normal;
}

table.artTable a:hover {
	color: red;
	text-decoration: none;
	font-weight: normal;
}
table.artTable tbody.one td.left {
	text-align: left;
}
table.artTable tbody.two td.left {
	text-align: left;
}
table.artTable tbody.one td.leftMessage {
	text-align: left;
}
table.artTable tbody.two td.leftMessage {
	text-align: left;
}

table.artTable tbody.bigFont td {
	font-size: 12px;
	border-bottom: none;
	text-align: right;
}

#toggleNav {
	position: relative;
	top: 415px;
	float: left;
}

#navButton {
	padding: 10px 2px;
	margin-left: -23px;
}

#oN {
	background-color: #F5F2EF;
	border: solid 1px #fff;
	padding: 10px;
	margin: 1em 0 0 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF
}
#oN:hover {
	background-color: #F8F7F4;
}
#oN li {
	list-style-type: none;
	margin-bottom: 0.5em;
	padding-left: 15px;
	background: transparent url(../images/w5.gif) top left no-repeat;
}

/*body*/
#mainContent {
	line-height: 1.5;
	margin-left: 206px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
} 

#maincontent * p {
	color: white;
}
.homepage #mainContent {
	padding: 1px 1px;
}
.nomenu #mainContent {
	margin-left: 0;
	background: #fff url(../images/bg10.gif) top left repeat-x
}
.secondLevel #mainContent, .deepLevel #mainContent {
	padding: 2px 5px;
}
#mainContent h2 {
	margin-bottom: 0;
}
.secondLevel #mainContent h2, .deepLevel #mainContent h2 {
	margin-top: 1em;
}
#mainContent li, #mainContent dt, #mainContent dd  {
	line-height: 1.5;
}


/*what's new*/
#whatsNew p {
	margin: 0.2em 0.5em;
}

#finds p {
	color: #896834;
	margin-top: 0;
}

#ftr {
	margin-left: 0;
	padding-left: 0px;
}
#ftr li {
	list-style-type: circle;
	margin-bottom: 0.1em;
}

/* which panel */
#which, #other {
	margin: 0em 0px 0px 10px;
}

#which a:link, #other a:link {
    color: #73C7FF;
    text-decoration: none;
}
#which a:visited, #other a:visited {
/*     color: blue; */
    color: #FF8176;
    text-decoration: none;
}
#which a:hover, #other a:hover {
/*	color: #B08A48;*/
/*     color: black; */
    color: red;
    text-decoration: none;
	/*text-decoration: underline;*/
}
#which h2 {
	margin-bottom: 0px;
	border-radius: 10px 20px 0 0;
	width: 65%;
	color: white;
	background-color: rgb(60, 60, 60);;
	background-position: left;
	border: solid 1px rgb(146, 146, 146);
	padding: 1px;
	padding-left: 10px;
	white-space: nowrap;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#which dl, #other dl {
	margin: 0;
}
#which dt, #other dt {
	margin: 0 0 0 1px;
	padding-top: 0.7em;
	border-left: dotted 1px #D6CCBD;
}
#which .im, #other .im {
	clear: left;
	float: left;
	width: 30;
	text-align: center;
	border: 0;
	margin: 0em 1px 0 0;
	padding: 0em 0 0.0em 0;
	}
#which dd, #other dd {
	margin: 0 0 0 1px;
	padding-left: 1px;
	padding-bottom: 1em;
	border-bottom: dotted 1px darkgrey;
	border-left: dotted 1px lightgrey;
}
#which dd p, #other dd p, #which dd ul, #other dd ul {
	margin-top: 0;
	margin-bottom: 0;
}
#other dd, #other dt {
	border: 0;
}
#which .dl, #other .dl {
	color: #666;
}

#which dd #quotes {
	color: #896834;
}

#which dd #quotes p {
	float: left;
	width: 65%;
	margin: 0.2em 0%;
}


/* ad */
#ad, #rhs2 {
	width: 157px;
}
#rhs2 {
	position: absolute;
	right: 10px;
	margin: 2em 0 0 0;
}
#ad {
	margin: 2em 1em;
}
#ad a, #rhs2 a {
	clear: both;
}
#ad .bl img, #rhs2 .bl img {
	background: #554FA0;
}
#ad .bl img:hover, #ad .bl img:focus, #rhs2 .bl img:hover, #rhs2 .bl img:focus {
	background: #5C56AF;
}
#ad .br img, #rhs2 .br img {
	background: #A0714F;
}
#ad .br img:hover, #ad .br img:focus, #rhs2 .br img:hover, #rhs2 .br img:focus {
	background: #B17F5A;
}
#ad .bu img, #rhs2 .bu img {
	background: #6B8381;
}
#ad .bu img:hover, #ad .bu img:focus, #rhs2 .bu img:hover, #rhs2 .bu img:focus {
	background: #729390;
}
#ad .bd img, #rhs2 .bd img {
	background: #BC6055;
}
#ad .bd img:hover, #ad .bd img:focus, #rhs2 .bd img:hover, #rhs2 .bd img:focus {
	background: #DE6354;
}


/* secondlevel */
#brd {
	margin: 0 0 0.5em 0;
	position: relative;
	top: -1.5em;
	text-align: right;
	font-size: 87%;
	color: #999;
}
#brd a:link, #brd a:visited {
	padding: 5px;
}
#brd a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #DCC085;
}
#brd em {
	font-style: normal;
	font-weight: bold;
	color: #666;
}

#nav {
	margin: 0 0 4em 0;
	padding: 0;
	line-height: 0;
}
#nav li {
	list-style: none;
	margin: 0;

	background-image: none;
	padding: 0 0 1px 0;
	line-height: 1.0;
}
#nav a:link, #nav a:visited {
	font-weight: normal;
	line-height: 1.0;
	color: #955322;
	display: block;
	background: transparent url(../images/bg9b.gif) top right repeat-y;
	border: solid 1px #EEEAE4;
	margin: 0;
	padding: 5px 10px 5px 0.5em;
}
#nav a:hover {
	color: #EC361D;
	border: solid 1px #DDD9D4;
	border-top-color: #F5F3F0;
	border-left-color: #F5F3F0;
	background: #F3F0EC;
}
#nav a:active {
	background: #fff;
}
#nav ul {
	margin: 0;
	padding: 0;
	background-color: #F5F2EF;
	border: solid 1px #fff;
}
#nav ul a:link, #nav ul a:visited {
	background-image: none;
	padding: 4px 10px 4px 1.5em;
	border: 0;
}
#nav ul a:hover {
	background-image: none;
	border: 0;
	padding-right: 0;
}


/* generic reusable style */

.feature {
	width: 200px;
	float: left;
	margin: 0 10px 10px 10px;
	padding: 15px;
	background: #EEEAE4;
	border: double 3px #fff;
	text-align: center;
}
.feature img {
	border: solid 1px #E8E3DB;
	border-right: solid 1px #D6CBBD;
	border-bottom: solid 1px #D6CBBD;
}
.feature p {
	font-size: 80%;
	line-height: normal;
	margin: 5px 0 0 0;
	padding: 3px;
	background: #F3F0EC;
	border: solid 1px #E6E0D7;
	border-right: solid 1px #FCFBFA;
	border-bottom: solid 1px #FCFBFA;
}
.highlight {
	display: block;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
	padding: 8px;
	margin: 20px 40px;
}
.highlight img {
	float: right;
	margin: 0 20px 0 20px;
}
.highlight dl {
	padding: 1em;
}
.highlight dd {
	white-space: nowrap;
}
.mice {
	font-size: 70%;
	line-height: 1.1;
	color: #999;
	margin-top: 2em;
}
.mice a:link, .mice a:visited {
	color: #666;
}
.linkset {
	padding: 10px;
	margin: 0 0 0.5em 0;
	background: #eee;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
}
.linkset li {
	list-style-type: none;
	padding-left: 20px;
	margin: 12px;
}
.linkset .dlwin {
	background: url(../images/ico-win.png) top left no-repeat;
}
.linkset .dlosx {
	background: url(../images/ico-osx.png) top left no-repeat;
}
.linkset .dllinux {
	background: url(../images/ico-tux.png) top left no-repeat;
}
#main {
	width: 350px;
	margin-right: 170px;
}
#main img {
	margin-bottom: -1em;
}
#rhs, #rhs2 {
	position: absolute;
	left: 650px;
	top: 160px;
	width: 160px;
}
#rhs2 {
	top: 0;
}
#rhs img {
	padding-left: 35px;
	margin-bottom: -20px;
}


/*footer*/
#bn {
	clear: both;
	border-top: solid 1px #EAE6DE;
	padding: 0 0 0 0.5em;
	margin: 3em 0 0.5em 0;
	background: transparent url(../images/bg8.gif) top left repeat-y;
}
#bn li {
	list-style: none;
	display: inline;
	white-space: nowrap;
}
#bn a {
	padding: 0 1em 0 0.5em;
	background: transparent url(../images/bg8.gif) top right repeat-y;
}
#bn a:visited {
	font-weight: bold;
}
#bn a:hover {
	text-decoration: underline;
}
#footer {
	margin-left: 10px;
}
#footer a:link {
	color: white;
}
#footer a:visited {
	color: white;
}
#footer p {
	font-size: 73%;
	line-height: normal;
	margin: 0 0 0 1em;
	color: white;
}
.footerbg {
	background: #646464;
}
#int {
	padding: 0 0 0 1em;
	margin: 0;
}
#int li {
	font-size: 73%;
	list-style: none;
	display: inline;
	white-space: nowrap;
}
.copyright {
	padding-bottom: 0.5em;
}


/*accessibility tweaks*/
.skipLink {
	position: absolute;
	left: -999px;
	width: 990px;
}
hr.hide {
	display: none;
}

